body {
  color: #283c46;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  color: #283c46;
  line-height: 1.25em; }

h1 {
  font-size: 60px;
  font-weight: bold; }

#footer-navbar {
  border-width: 1px 0 0 0;
  margin-bottom: 0; }

#main-navbar {
  border-width: 0 0 1px 0; }

#main-navbar, #footer-navbar {
  background-color: white;
  border-radius: 0px;
  color: #283c46; }
  #main-navbar a, #footer-navbar a {
    color: inherit; }
    #main-navbar a:hover, #footer-navbar a:hover {
      background-color: #f7f7f7; }
  #main-navbar .navbar-brand, #footer-navbar .navbar-brand {
    font-size: 24px;
    font-weight: bold; }
  #main-navbar .navbar-collapse, #footer-navbar .navbar-collapse {
    padding: 0 0 0 15px; }

.btn-default {
  background-color: #7abd1d;
  border: 0px;
  color: white; }
  .btn-default:active {
    background-color: #497211 !important;
    color: white !important; }
  .btn-default:focus {
    background-color: #497211;
    color: white; }
  .btn-default:hover {
    background-color: #669e18;
    color: white; }

.main-wrapper {
  min-height: calc(100vh - 122px); }
  .main-wrapper .row {
    margin: 40px 0; }

.index h1 {
  margin-top: 75px;
  margin-bottom: 40px; }
.index #ui-preview img {
  -webkit-box-shadow: 0px -2px 5px rgba(40, 60, 70, 0.5);
  box-shadow: 0px -2px 5px rgba(40, 60, 70, 0.5);
  margin-top: 40px;
  width: 98%; }
.index .card {
  margin: 40px 0; }
  .index .card h2 {
    font-weight: bold; }
.index .cta {
  margin-top: 40px;
  margin-bottom: 40px; }
.index .divider {
  -webkit-box-shadow: 0px -2px 5px rgba(40, 60, 70, 0.5);
  box-shadow: 0px -2px 5px rgba(40, 60, 70, 0.5);
  background-color: #1d90de;
  color: white;
  margin-top: -5px;
  position: relative;
  z-index: 10; }
  .index .divider h2 {
    color: white; }
.index .main-content {
  position: relative;
  z-index: 5; }

.pricing .pricing-plan {
  padding: 0;
  margin: 0 0 25px; }
  .pricing .pricing-plan hr {
    margin: 0px 25px; }
  .pricing .pricing-plan.starter .plan-header {
    background-color: #74bced; }
  .pricing .pricing-plan.basic .plan-header {
    background-color: #47a6e7; }
  .pricing .pricing-plan.pro .plan-header {
    background-color: #1d90de; }
  .pricing .pricing-plan.agency .plan-header {
    background-color: #1773b1; }
  .pricing .pricing-plan .cta {
    margin-top: 25px; }
  .pricing .pricing-plan .name {
    font-size: 24px;
    padding: 25px 10px 25px; }
  .pricing .pricing-plan .price {
    font-size: 32px;
    padding: 25px 10px; }
  .pricing .pricing-plan .plan-header {
    color: white;
    font-weight: 200; }
  .pricing .pricing-plan .plan-info {
    background-color: #f7f7f7;
    padding: 25px 0; }
