<nav class="navbar navbar-default" id="footer-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><%= t(:company_name) %></a>

    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Pricing and Getting Started', '/pricing.html' %></li>
    </ul>
  </div>
</nav>
