<div class="container">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h1>Thank you for signing up!</h1>
    <h2>We're currently in beta, but will be online soon.<br /></h2>
    <p>
      To ensure customer satisfaction we're slowly rolling this out to sign-ups
      in the order they were received. We will reach out to you as soon as
      possible. Apologies for any inconvenience this causes you.
    <p>
    <p style="line-height: 2em;">
      Best Regards,<br />
      <span style="font-size: 32px; font-weight: bold"><%= I18n.t(:company_name) %></style>
    </p>
  </div>
  <div class="col-sm-2"></div>
</div>
